<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>人事管理系统</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script type="text/javascript" src="http://127.0.0.1:8080/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript">
        $(function () {
            cx();
        })

        function cx() {
            $.post("http://127.0.0.1:8080/showAll", function (data) {
                $(data).each(function (i, e) {
                    var td = "<tr><td>" + e.id + "</td><td>" + e.name + "</td><td>" + e.sex +
                        "</td><td>" + e.age + "</td><td>" + e.rank + "</td><td>" + e.department +
                        "</td><td><a href='javascript:void(0)' name='del' id='" + e.id + "' >删除</a></td>" +
                        "<td><a href='javascript:void(0)' name='upd' id='" + e.id + "' >修改</a></td></tr>"
                    $("#tab").append(td);
                    changColor();
                });
            }, "json");

            $("[name=del]").live('click', function () {
                if (confirm("确认删除吗？")) {
                    var $this = $(this);
                    var id = $this.attr("id");
                    $.post("http://127.0.0.1:8080/del", {"id": id}, function (data) {
                        if (data) {
                            $this.parent().parent().remove();
                            alert("删除成功！");
                            location.href = "index.html";
                        } else {
                            alert("删除失败！");
                        }
                    }, "json");
                }
            });
        }

        function changColor() {
            $("tr:even").css("background-color", "#66FFFF");
            $("tr:odd").css("background-color", "#00E000");
        }
    </script>
</head>
<body>
<div align="center">
    <table id="tab" border="1">
        <tr>
            <th colspan="8" id="dbt">人员列表</th>
        </tr>
        <tr>
            <th>编号</th>
            <th>姓名</th>
            <th>性别</th>
            <th>年龄</th>
            <th>等级</th>
            <th>部门</th>
            <th colspan="2">操作</th>
        </tr>
    </table>
    <p>
        <a href="add.html"><input type="button" value="添加人员"></a>
    </p>
</div>
</body>
</html>